<div class="heading">
    Passenger Details
</div>

<div class="container">
    <ng-container *ngFor="let array of array">
        <mat-card class="card">
            <h4>Date: {{ array.Date }}</h4>
            <h4>Arrivals Counts: {{ array.ArrivalsActualCounts }}</h4>
            <h4>Departures Counts: {{ array.DeparturesActualCounts }}</h4>
        </mat-card>
    </ng-container>
</div>

<div class="buttons" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-raised-button color="primary" [disabled]=isDisabled (click)=loadMore()>Load More</button>
</div>